.ingredients, .steps{
    display: inline-block;
    padding: 16px 8px;
}

.ingredients {
    background-color: rgb(250, 224, 175);
    border: 1px solid orange;
}

.steps {
    background-color: rgb(198, 255, 198);
    border: 1px solid green;
}

h1 {
    text-align: center;
    font-family: monospace, sans-serif, Verdana, "Times New Roman";
}

.dish_img {
    border: 1px solid black;
    display: block;
    margin: 0 auto;
}